.head{
    background-color: rgb(230, 209, 195);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', sans-serif;
}
.top {
  display: flex;
  align-items: center;
  gap: 0px;           
  margin: 0;
  padding: 0;
}
img {
  width: 100px;
  height: 100px;
  margin: -15px; 
  padding: 0;
}

.webname {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
  font-size: 2.1em;
  color: rgb(58, 36, 36);
  margin-left: 0px;  /* tweak this to bring text closer to the logo */
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;   
    display: block;
    background-color: rgb(99, 60, 21);
}
li{
    float: left; 
}
li a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    /* <--background-color: rgb(76, 144, 203);--> */
}
.profilebtn{
  /* display: block; */
    width: 44px;
    height: 44px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 7px;
    margin-left: 65%;
    margin-right: 0;
}
li a:hover{
  background-color:  rgb(41, 28, 12);
}

.profilebtn:hover{
  background-color:  rgb(41, 28, 12);
}